# Binarios y temporales
*.exe
*~
*.zip
*.log
central_cuentas_mid
main
.scannerwork/
*.tmp

# IDEs
.vscode

# Variables de Entorno
*.env
!*template*.env

# Swagger
swagger/**
!swagger/swagger.json
!swagger/swagger.yml
